exec autoexec.cfg
crosshair 0
refresh_options_dialog
stuffcmds
startupmenu
sv_unlockedchapters 99
tf_hud_no_crosshair_on_scope_zoom 1;tf_hud_target_id_disable_floating_health 1;tf_spectator_target_location 0;tf_contract_progress_show 0;tf_contract_competitive_show 0;tf_scoreboard_alt_class_icons 0;tf_scoreboard_ping_as_text 1;tf_scoreboard_alt_class_icons 0
cl_show_market_data_on_items 2;cl_hud_killstreak_display_time 0
//cl_showbackpackrarities 2
hud_deathnotice_time 10;hud_reloadscheme
//hud_combattext_red 255;//hud_combattext_green 255;//hud_combattext_blue 255